{% extends 'base.html.twig' %}

{% block title %} Ajouter une Entreprise {% endblock %}

{% block body %}
    
    
        {% if confition %}  
            <h1> Editter une Entreprise </h1>


        {% else %}  
            <h1> Ajouter une Entreprise </h1>

        {% endif %}
 
 
        {% for entreprise in entreprises %}

               <a href="{{ path( 'show_entreprise', {'id: entreprise.id}) }}" >{{ entreprise }}</a><br>

        {% endfor %}

        {{ form(formAddEntreprise) }}

        {% endblock %}
